{% extends "base.html" %} {% load static %} {% block content %}
<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="{% static 'birthday.png' %}" />
    </a>
    <h1>Happy Birthday Monica!</h1>
    <p>
      Please sign this birthday card with well wishes for Monica on her
      birthday!
    </p>
  </div>
</div>

<div class="jumbotron text-center">
  <div class="container">
    <h2>Sign Here</h2>
    <ul>
      <ul>
        {% for post in post_list %}
        <li>{{ post.text }}</li>
        {% endfor %}
      </ul>
    </ul>
  </div>
</div>
{% endblock %}
